<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config>

    </context:annotation-config>

    <bean class="org.maCompagnie.facturation.service.FactureServicePrefixe">
        <!-- ref = injection de dépendance -->
        <property name="dernierNumFacture"
                  value="112"/>     <!-- value = modifie la valeur d'une propriété avec son setter; Spring converti la valeur(ici la chaine de caractère sera convertie en Long) -->
        <property name="prefix" value="FACT_"/>
        <property name="fichier" value="/fichiers/fichierTest.txt"/>
    </bean>

    <bean class="org.maCompagnie.facturation.controller.FactureControllerWeb">
        <!--Spring invoque le setter de la propriété factureService-->
    </bean>

    <bean class="org.maCompagnie.facturation.repository.FactureRepositoryDatabase"/>


</beans>