<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <context:property-placeholder location="classpath:application.properties"/>

    <bean class="org.maCompagnie.facturation.service.FactureServicePrefixe">
        <!-- ref = injection de dépendance -->
    </bean>

    <bean class="org.maCompagnie.facturation.controller.FactureControllerWeb">
        <!--Spring invoque le setter de la propriété factureService-->
    </bean>

    <bean class="org.maCompagnie.facturation.repository.FactureRepositoryDatabase"/>


</beans>